[Unit]
Decription=Pragotron Watch Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/pragoPi/app.py > /home/pi/pragoPi/pragopi.log 2>&1
Restart=on-abort

[Install]
WantedBy=multi-user.target
